.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    position: relative; 
}

#video {
    width: 90%; 
    max-width: 1000px; 
    margin-bottom: 20px; 
}

#captureBtn, 
#retakeBtn, 
#proceedBtn,
#retakePhotoBtn { /* Apply the styles to retakePhotoBtn as well */
    padding: 15px 30px;
    margin: 5px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

#captureBtn { 
    position: absolute; 
    bottom: 20px;     
    left: 50%;         
    transform: translateX(-50%); 
}

#imageAndButtonContainer {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
}

#capturedImage {
    width: 90%; 
    max-width: 1000px; 
    margin-right: 20px; 
} 

#previewModal {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    z-index: 100; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#previewImage {
    max-width: 100%;
    max-height: 500px;
    margin-bottom: 20px;
}